ul {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

li {
  display: flex;
  
}

a {
  padding: 0.5rem;
  
}
