.form-provider {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
}

.clear-btn {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-35%);
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  color: var(--color-text-secondary);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    transform 0.15s ease;

  &:hover {
    background-color: color-mix(in oklab, var(--color-text-secondary) 10%, transparent);
    color: var(--color-primary);
    // transform: translateY(-48%) scale(1.1);
  }
}
